**/node_modules
.env
**/.DS_Store
dist
**/.vscode
user_data
src/plugins
java-local-server/target
java-local-server/WIBO_H2DB.mv.db
java-local-server/indexDir
java-local-server/logs/spring-boot-logger.log
java-local-server/WIBO_H2DB.trace.db
frontend/logs/spring-boot-logger.log
**/.project
**/.settings/** */
java-local-server/.settings/org.eclipse.jdt.core.prefs
